In [1]:
import pandas as pd

df_employees = pd.read_csv ('../Project-Anaconda/employees.csv')
df_system_access = pd.read_csv ('../Project-Anaconda/system_access.csv')

In [2]:
df_system_access

df_system_access['id'] = 'EMP' + df_system_access['id'].astype(str).str.zfill(6)
df_system_access

            id    access_level
0    EMP003045  Contract Entry
1    EMP003051  Contract Entry
2    EMP003068  Contract Entry
3    EMP003097   Account Admin
4    EMP003133  Contract Entry
..         ...             ...
833  EMP024862  Contract Entry
834  EMP024864  Contract Entry
835  EMP024885   Account Admin
836  EMP024890  Contract Entry
837  EMP024896   Account Admin

[838 rows x 2 columns]

In [3]:
df_system_access.rename(columns={'id':'employee_number'}, inplace=True)
df_system_access.set_index('employee_number', inplace=True)
df_employees = df_employees.set_index('employee_number')
df = df_employees.join(df_system_access, how='left')
df.head(15)

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
EMP003133,Donielle,Midgley,donielle.midgley@consultants.com,Sales Assistant,Contract Entry
EMP003134,Marcela,Thieme,marcela.thieme@consultants.com,Sales Assistant,Contract Entry
EMP003180,Haily,Wadeson,haily.wadeson@consultants.com,Sales Assistant,Contract Entry
EMP003265,Natala,Judd,natala.judd@consultants.com,Director of Sales,NaN
EMP003287,Gayla,Aldin,gayla.aldin@consultants.com,Sales Assistant,Contract Entry
EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Account Manager,NaN
EMP003299,Nerte,Luipold,nerte.luipold@consultants.com,Account Manager,Account Admin
EMP003308,Vere,Gateman,vere.gateman@consultants.com,Account Manager,Account Admin
EMP003344,Cristie,Greenier,cristie.greenier@consultants.com,Sales Assistant,Contract Entry
EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,Account Admin

In [4]:
df.loc[df['access_level'].isnull()]

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003265,Natala,Judd,natala.judd@consultants.com,Director of Sales,NaN
EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Account Manager,NaN
EMP003684,Annmarie,Scrange,annmarie.scrange@consultants.com,Director of Sales,NaN
EMP003713,Marybeth,Driussi,marybeth.driussi@consultants.com,Account Manager,NaN
...,...,...,...,...,...
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,NaN
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,NaN
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,NaN

In [6]:
subset_df_system_access = df.loc[df['access_level'].isnull()]

In [7]:
subset_df_system_access.loc[subset_df_system_access['title'] == 'Account Manager', 'access_level'] = 'Approval - Manager'
subset_df_system_access.tail()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-7-87db0423bbb6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df_system_access.loc[subset_df_system_access['title'] == 'Account Manager', 'access_level'] = 'Approval - Manager'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,NaN
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,Approval - Manager
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Approval - Manager

In [8]:
df_missingAL = df.loc[df['access_level'].isnull()]
df_missingAL

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003265,Natala,Judd,natala.judd@consultants.com,Director of Sales,NaN
EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Account Manager,NaN
EMP003684,Annmarie,Scrange,annmarie.scrange@consultants.com,Director of Sales,NaN
EMP003713,Marybeth,Driussi,marybeth.driussi@consultants.com,Account Manager,NaN
...,...,...,...,...,...
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,NaN
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,NaN
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,NaN

In [9]:
subset_df_system_access.loc[subset_df_system_access['title'] == 'Sales Assistant', 'access_level'] = 'Contract Entry'
subset_df_system_access.tail()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-9-f61715b6b381>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df_system_access.loc[subset_df_system_access['title'] == 'Sales Assistant', 'access_level'] = 'Contract Entry'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,Contract Entry
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,Approval - Manager
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Approval - Manager

In [10]:
subset_df_system_access.loc[subset_df_system_access['title'] == 'Director of Sales', 'access_level'] = 'Account Admin'
subset_df_system_access.tail()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-10-690121dc725d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df_system_access.loc[subset_df_system_access['title'] == 'Director of Sales', 'access_level'] = 'Account Admin'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP024068,Celinka,Vasilic,celinka.vasilic@consultants.com,Director of Sales,Account Admin
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Director of Sales,Account Admin
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Sales Assistant,Contract Entry
EMP024551,Ravi,Dighton,ravi.dighton@consultants.com,Account Manager,Approval - Manager
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Account Manager,Approval - Manager

In [11]:
df.loc[df['access_level'].notnull()]

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
EMP003133,Donielle,Midgley,donielle.midgley@consultants.com,Sales Assistant,Contract Entry
...,...,...,...,...,...
EMP024862,Ronna,Meltetal,ronna.meltetal@consultants.com,Sales Assistant,Contract Entry
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Sales Assistant,Contract Entry
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin

In [12]:
subset_df_system_access.to_csv('results.csv')